@media only screen and (min-width: 32.5rem) {
  body {
    max-width: 900px;
  }

  header {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr;
  }
  h1.h-line {
    margin: 1rem 4rem;
    grid-column: 2 / 5;
    grid-row: 1 / 3;
  }
  img.logo {
    grid-column: 5 / 6;
    margin-left: 2rem;
  }
  p.phone {
    grid-column: 1 / 3;
  
  }
  p.address {
    grid-column: 3 / 5;
   
    padding-left: 0.5rem;
  }
  .container {
    max-width: 60rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    padding: 1rem;
    background-color: white;
  }
  img.logo {
       margin-left: 2rem;
            
      }

  .item {
    background-color: steelblue;
    height: 8rem;
  }
  .nav {
    max-width: 30rem;
    max-height: 45rem;
    transform: translate3d(-600px, 0, 0);
    transition: transform 0.4s;
    padding: 0;
  }
  footer p {
    text-align: right;
    margin-right: 2.25rem;
  }

  div.social {
    justify-content: space-evenly;
  }
}
