/* prevents font size adjustments when orientation changes */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
/* for natural box layout */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  max-width: 1280px;
  /* padding: 10px; */
  font-family: "Poppins", sans-serif;
  color: black;
}
/*************** main ***********/
.home-a img {
  width: 100%;
  border-radius: 5%;
  margin-top: 1rem;
}

img#open-w {
  width: 7rem;
}
body {
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  margin: 0 auto;
}
/*************** Fresh Window ***********/
p#fresh-btn,
p#about-btn {
  text-align: center;
  padding: 0.5rem;
  text-decoration: none;
  font-weight: 600;
  background-color: white;
  border: solid 3px #ff6666;

  border-radius: 5%;
}

a {
  display: contents;
  /* text-decoration: none; */
  color: black;
}

#container {
  gap: 5px;
  padding: 0.5rem;
  background-color: white;
}
/*************** Weather ***********/
a.weather-l {
  /* color: #ff6666; */
  font-weight: 600;
}

img#weather-icon {
  border-right: 1px solid #ff6666;
}
.item-w p {
  padding-right: 0.5rem;
  border-right: 1px solid #ff6666;
}
.item-w {
  display: flex;
  flex-direction: row-reverse;
  align-content: space-around;
  justify-content: space-evenly;
  align-items: center;
  max-width: 100vw;
  min-height: 8rem;
  border-radius: 5%;
  margin-left: 0.5rem;
}
div p {
  height: 100px;
  overflow: scroll;
}

header {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 2fr;
  background-color: white;
  color: black;
  padding: 0.5rem;
}
h1.h-line {
  grid-column: 1 / 5;

  font-weight: 600;

  padding: 0.25rem;
  margin: 0;
  
}
h1.h-line2 {
  display: none;
}
img.logo {
  grid-column: 4 / 5;
  width: 6rem;
  margin-top: 1.25rem;
}
p.address {
  grid-column: 3 / 5;
  grid-row: 3 / 4;
  padding-left: 1rem;
}
.phone {
  grid-column: 1 / 4;
  grid-row: 3 / 4;
  padding-left: 0.4rem;
  color: black;
  position: sticky;
  z-index: 50;
}
#fresh-order {
  grid-column: 1 / 2;

  color: black;
  background-color: #ff6666;
}
textarea#messageArea {
  border: 1px solid #ffcc99;
}
input {
  border: 1px solid #ffcc99;
  padding: .75rem;
  width: 100%;

}

/* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
/* p#freshBtn:hover {
  transform: scale(
    1.5
  ); 
} */
/* .home-b {
  padding-top: 3rem;
  background-color: #ffcc99;
  border-radius: 5%;
} */
.home-b img {
  width: 100%;
  border-radius: 5%;
  margin-top: 2rem;
}
.item-w {
  border: solid 3px #ff6666;
  padding: 0.25rem;
}

/* h1 {
  margin-left: 2rem;
}
h2 {
  margin-left: 1rem;
}
p {
  margin-left: 1rem;
} */
/* -----------Navigation slider -------------*/
nav button {
  font-size: 3rem;
  background: transparent;
  border: none;
  color: black;
}
button,
select {
  border: none;
  background-color: white;
  padding-left: 0.5rem;
}
nav {
  background-color: #ffffcc;
  padding-left: 1rem;
  position: absolute;
  margin-top: 4rem;
  width: 18rem;

  z-index: 60;
}
/* a.active {
  z-index: 60;
  padding-left: 
  
} */
.Btn-o {
  margin-left: -1rem;
}
.nav-checkbox {
  visibility: hidden;
}

ul#primaryNav {
  padding-left: 0;
}
#hamburgerBtn span {
  padding-left: 2vw;
  font-size: 3.5rem;
}

nav ul {
  display: none;
  padding: 0;
  margin: 0;
 
  
}
ul {
  padding: 0.5rem 1.5rem;
  list-style-type: none;
  gap: 1rem;
  grid-row: 2 / 3;
  
}
ul.menu1 {
  /* list-style-type: none; */
  padding: 0.5rem;
  margin: 0.1rem;
}

li a {
  display: block;
  padding: 0.8rem;
  color: black;
  width: 6rem;
border-radius: 50%;
  font-weight: 400;
  font-size: 1.25rem;
  text-decoration: none;
  list-style-type: none;
}

li {
  background-color: #ffffcc;
  border-radius: 50%;
  align-content: center;
}
#hamburgerBtn span:nth-child(2) {
  display: none;
}
#hamburgerBtn.open span:nth-child(1) {
  display: none;
}
#hamburgerBtn.open span:nth-child(2) {
  display: block;
}
nav ul.open {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(10, 1fr);
}
a.active {
  border: 3px solid #ff6666;
  /* background-color: rgba(0,0,0,0.2); */
}
li a:hover {
  background-color: #ff6666;
}

/* @media (max-width: 540px) {
  h1 {
    font-size: 95%;
  } */

/* ******************** main#home* *****************/

main {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  padding: 0.75rem;
  gap: 0.75rem;
position: relative;
}
div.sidebar {
 border: solid 5rem #ffcc99;
 border-top: solid 19.5rem #ffcc99;
 background-color: white;
  display: none;
  /* grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); */
}

/* ******************** footer ******************/
footer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr;
}

div.social {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

footer p {
  text-align: center;
  grid-column: 1 / 4;
}

div.social img {
  padding: 0.25rem;
}
a#ref {
text-decoration: underline !important;

  font-weight: 600;
}

form label.choice {
  display: block;
  font-size: 1rem;
  padding: 0.75rem 0;
}

fieldset {
  margin: 2rem 0.25rem;
  border: 3px solid #ffcc99;
  border-radius: 5px;
  padding: 0.5rem 2%;
  background-color: #ffffcc;
}
input.submit {
 padding: .5rem;
 border-radius: 5%;
 background-color:#ffcc99;
 width: 100%;
 border-color: transparent;
}

div.sidebar2 {
  width: 350px;
  Height: 700px;
  margin-top: 17.5rem;
 margin-right: 3rem;
  z-index: 100;
  padding: 50px;
}
/* ******************** main#home *****************/

div.map {
  width: 100%;
}