div.weather {
  /* max-width: 400px;
  width: 100%; */
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  gap: 0.5rem;
  border: 5px solid orange;
  outline-color: blue;
  background-color: yellow;
  padding: 0.5rem;
}
h1 {
  color: blue;
  text-shadow: 2px 2px #025159;
  font-size: x-large;
}

p {
  font-size: large;
}
img#weather-icon {
  width: 5rem;
  background-color: lightskyblue;
}
/* #figC {
  color: blue;
  text-shadow: 2px 2px #025159;
  font-size: x-large;
} */
