/* 'med' tablet view media query for lesson 2*/
@media screen and (min-width: 37.5em) {
 
  main {
    /* display: grid; */
    grid-template-columns: 1fr 1fr;
    
  }
  .white-space {
    display: block
  }
.golden-ratio {
  grid-column: span 2;
}
}
