/* 'med' tablet view media query for lesson 2*/
@media screen and (min-width: 32.5em) {
  /* h1 {
        color: blue;
        font-size: 3rem;
             }  */

  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
