* {
    box-sizing: border-box;
  }
h1, h2 {
    font-family: "Poppins", sans-serif;
    
  }
 h3, h4, h5, h6 {
    font-family: 'Roboto Serif', serif;
  }
  h1 {
    font-family: "Poppins", sans-serif;
       padding-top: 1.5rem;
    text-align: center;
  }
  h3 { 
    text-align: center;
    font-weight: 500;
    background-color: chocolate;
    border-radius: 16px 16px 0 0;

  }

header {
    position: absolute;
    width: 100%;
    background-color: #F4B657;
    height: 5rem;
    margin-top: -1.5rem;
    text-align: center;
}
body {
    display: grid;
    grid-gap: .25rem;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header""hierarchy" "white-space" "golden-ratio" "footer";
    
       
}
footer {
    position: absolute;
    width: 100%;
    background-color: black;
    height: 5rem;
    top: 100vh;
    font-family: "Poppins", sans-serif;
    color: whitesmoke;
}

p {
    padding: .75rem;
}
header img {
    position: relative;
    
    height: 120px;
    object-position: center;
    border-bottom: 3px solid black;
  }