/* 'small' mobile view for lesson 2*/
 /* @media (min-width: 320px) {   */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  color: whitesmoke;
}
h1 {
  text-align: center;
  padding-top: 1rem;
}

h2 {
  font-family: "Poppins", sans-serif;
  margin-top: -1rem;
  text-align: center;
}
h3 {
  text-align: center;
  font-weight: 600;
  background-color: black;
  border-radius: 16px 16px 0 0;
  padding: 1.5rem;
  margin-top: -1rem;
}
p {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-size: large;
}
.grid-container {
    display: grid;
  grid-template-columns: 1fr;
    grid-row-gap: 5px;
  
  
} 
 header {
  width: 100%;
  display: flex;
  flex-flow: column;
      align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-color: black;
  color: white;
  margin-top: -2rem;
  padding: 0.5rem;
    text-align: center; 
}

.grid-container {
    display: grid;
  grid-template-columns: 1fr;
    grid-template-rows: 3fr;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
      border-width: 2px;
  border-color: black;
 }

.desimage img {
  width: 100%;
  object-fit: cover;
  height: auto;
  outline: #f4b657;
  border: solid 1px grey;
}

footer {
    width: 100%;
  display: flex;
  justify-content: center;
   background-color: black;
  height: 5rem;
   font-family: "Poppins", sans-serif;
  color: whitesmoke; 
}
footer p {
  font-size: 1rem;
}
p {
  padding: 0.75rem;
  background-color: transparent;
}
.golden-ratio {
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 2;
    margin-bottom: 2rem; 
    height: auto;
  background-color: rgba(128, 128, 128, 0.217);

  border: solid 1px grey;
}
.hierarchy {
  grid-column-start: 1;
  grid-column-end: span 1;
  margin-top: 2rem;
  margin-bottom: 2rem;
  height: auto;
  background-color: rgba(128, 128, 128, 0.217);

  border: solid 1px grey;
}
.white-space {
  grid-column-start: 1;
  grid-column-end: span 1;
  margin-top: -2rem;
    height: auto;
  background-color: rgba(128, 128, 128, 0.217);
  border: solid 1px grey;
}
