/* 'small' mobile view for lesson 2*/
* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  color: whitesmoke;
}
h1 {
  text-align: center;
  padding-top: 1rem;
}

h2 {
  font-family: "Poppins", sans-serif;
  margin-top: -1rem;
  text-align: center;
}
h3 {
  text-align: center;
  font-weight: 600;
  background-color: black;
  border-radius: 16px 16px 0 0;
  padding: 1.5rem;
  margin-top: -1rem;
}
p {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-size: large;
}
body {
  height:100vh;
  display: grid;
  grid-template-areas: 'header header header''section section section''footer footer footer';
}
header {
  grid-area:header;
}
  /* position: relative;
  justify-content: center;
  margin: 0 auto;
  background-color: black;
  margin-top: -2rem;
  padding: 0.5rem;
  justify-content: center;
  text-align: center; */
/* } */
main {
  grid-area: section;
  /* display: grid;
  grid-column-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
  border-width: 2px;
  border-color: black;
  margin: 3rem auto; */
}
.desimage img {
  width: 100%;
  object-fit: cover;
  height: auto;
  outline: #f4b657;
  border: solid 1px grey;
}

footer {
  grid-area: footer;
  /* /* display: flex;
  justify-content: center;
  width: 100%; */
  background-color: black;
  height: 5rem;
  /* top: 100vh; */
  font-family: "Poppins", sans-serif;
  color: whitesmoke; */
}
footer p {
  font-size: 1rem;
}
p {
  padding: 0.75rem;
  background-color: transparent;
}
.golden-ratio {
  background-color: rgba(128, 128, 128, 0.217);

  border: solid 1px grey;
}
.hierarchy {
  background-color: rgba(128, 128, 128, 0.217);

  border: solid 1px grey;
}
.white-space {
  background-color: rgba(128, 128, 128, 0.217);
  border: solid 1px grey;
}
