/* 'large' media query for lesson 3*/
@media screen and (min-width: 992px) {
    main {
        background-color: #c4eef2;
    max-width: 1200px; 
    margin: 0 auto;
         grid-template-columns: 1fr 1fr 1fr; 
        grid-template-rows: auto;
        grid-row-gap: 2em; 
       font-size: .8rem;
       
   }  
 main.target {
    padding-top: 5rem;
 }
 main.design-container {
    display: grid;
 }
   main.target-container h1 {
grid-column-start: 1;
   grid-column-end: 4;
   
   
   }
   main.home-container h1 {
    grid-column-start: 1;
    grid-column-end: 4;
   }
main h1 {
    grid-column-start: 1;
    grid-column-end: 4;
}
   section.picture {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
   }
  
   div.persona-1 {
    grid-column-start: 1;
    grid-row-start: 1;
    background-color: white;
   }
div.persona-2 {
    
  grid-column-start: 3;
    grid-row-start: 1;
    grid-column-end: 3; 
}
   div.color-box {
    grid-column-start: 2;
    grid-row-start: 2;
         }
     
   article:nth-of-type(2) {
    grid-column-start: 2;
    grid-column-end: 3; 
    grid-row-start: 1; 
    padding-top: 2rem;
    margin-top: 5rem;
   
    /* display: block; */
}
article:nth-of-type(1) {
    /* display: block; */
    grid-column-start: 1;
     grid-column-end: 2;  
}
article:nth-of-type(3) {
    
    grid-column-start: 3;
    grid-row-start: 1;
    padding-top: 2rem;
    margin-top: 5rem;
  
}
}   