/* 'med' tablet view media query for lesson 3*/
@media screen and (min-width: 650px) {
    * {
        margin: 0;
        padding: 0;
        }
    .home h1 {
        grid-column-start: 1;
        grid-column-end: 3; 
        grid-row-start: 1;
    font-size: 1.5rem;
    padding: .5rem;
}

header footer{
    display: flex;
        flex-direction: row;
    
}
header h1 {
    text-align: left;
}
 
nav {
            flex-direction: row; 
    width: 100%;
  
}

nav a {
    font-size: 1rem;
    }
    nav a:hover {
        --d:75%;
    } 

main {
    background-color: #c4eef2;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: auto; */
    }
main.design-container {
display: grid;
grid-template-columns: 40% 60%;
}
main.design-container h1 {
    grid-column-start: 1;
    grid-column-end: 3;
}
h3.color {
    
    grid-column-start: 1;
    grid-row-start: 3;
        height: 2rem;
   
}
h3.logo {
    margin-top: 3rem;
  }
  h3.color {
    margin-left: 25rem;
  }
h3.f-types {
    height: 2rem;
    grid-column-start: 1;
   }
h3.logo {
    grid-column-start: 1;
    grid-row-start: 1;
   }
main.home-container h1 {
    grid-column-start: 1;
    grid-column-end: 4;
       height: 3rem;
       background-color: #7ab8bf;;
}

section.picture {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
} 
main.target-container h1 {
    grid-column-start: 1;
    grid-column-end: 4;

}

/* article:nth-of-type(2) {
       grid-column-start: 2;
    grid-row-start: 1;
        
} */
article:nth-of-type(3) {
    grid-column-start: 2;
    grid-row-start: 2;
}
  div .logo-box {
    padding-right: 15rem;

  } 
div.color-box {
grid-row-start: 2;
    grid-column-start: 2; 
  display: flex;
  flex-direction: row;
}

div.typography-1 {
    display: flex;
    grid-column-start: 1;
}
 
article:nth-child(4) {
        grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
  
} 
div.persona-1 {
    grid-column-start: 1;
    grid-row-start: 1;
    background-color: white;
    margin-top: 5rem;
    
}
div.persona-2 {
     grid-column-start: 3;
    grid-row-start: 1;
    grid-column-end: 3;
    margin-top: 5rem; 
}
  div.color {
    display: flex;
    
}
/* Target Audience css page */
main.target h1 {
        grid-column-start: 1;
    grid-column-end: 3;
   }

   .persona-p1 {
    width: 15rem;
    padding: .5rem;
   }
   .persona-p2 {
    width: 15rem;
    padding: .5rem;
   }
      main.design-container {
        max-width: 1200px;
         margin: 0px auto;
      }
   }