/* 35rem is also 560px when basefont is 16px */
@media only screen and (min-width: 32.5rem) {
  body {
    max-width: 900px;
    /* margin: 0 auto; */
  }
main {
  grid-column: 1 / 4;
}
  header img {
    width: 100px;
  }
  header p {
    display: contents;
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    text-align: center;
  }
  /* this gets rid of the hamburger menu and changes
the navigation from column to a row. */
  nav button {
    display: none;
  }
  nav ul#primaryNav {
    display: flex;
    /* justify-content: flex-start; (default is same as)*/
    margin-left: 2vw;
    border-left: 1px solid rgba(0, 0, 0, 0.3);
  }
  nav ul li a {
    border: none;
    padding: 0.5rem 1rem;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
  }
  nav ul.open {
    display: none;
  }
  body {
    height: 100vh;
    margin: 0 auto;
    background-color: yellow;
  }

  .hero {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
  }
  .news {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
  }
  .spotlight {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    grid-column-gap: .5rem;
  }
  .event {
    grid-column: 1 / 4;
    grid-row: 5 / 6;
  }
  
 
  .join {
    grid-column: 1 / 4;
    grid-row: 4 / 5;
  }
  .spotlight-1
    {
   
    grid-column: 1 / 2;
    padding: 1rem;
   
  }
  spotlight-2 {
    grid-column: 2 / 3 ; 
  }

  .weather {
    grid-column: 3 / 4;
    grid-row: 5 / 6;
  }
  footer {
    display: flex;
    flex-direction: row;
    text-align: right;
  }

  
}
/* end home page medium */
