/* 35rem is also 560px when basefont is 16px */
@media only screen and (min-width: 32.5rem) {
  body {
    max-width: 900px;
    /* margin: 0 auto; */
    /* height: 100vh; */
    /* background-color: yellow; */
  }
  main#home {
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
  }
  #info-banner {
    padding-top: 1rem;
  }
  /* med header */
  header {
    height: 17vh;
  }
  header h1 {
    font-size: 1.25rem;
  }
  header p {
    font-size: 1rem;
    display: block;
  }

  .social {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
  .social-1 {
    grid-column: 1 / 2;
    padding: 0.25rem;
  }
  .social-2 {
    grid-column: 2 / 3;
    padding: 0.25rem;
  }

  header img.logo {
    width: 5rem;
  }
  header img {
    width: 3rem;
  }
  header .serve {
    display: block;
  }


  #home div.hero {
    grid-column: 1 / 4;
    grid-row: auto;
    text-align: center;
  }

  div.news {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
  }

  div.spotlight {
   
    grid-column: 1 / 4;
    grid-row: 3 / 4;
  }
  div.spotlight {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
  div.event {
    grid-column: 1 / 3;
    grid-row: 5 / 6;
  }

  div.join-us {
    grid-column: 1 / 4;
    /* grid-row: 4 / 5; */
    border-bottom: gray 1px solid;
    margin: 1rem auto;
    padding-left: 8rem;
    padding-right: 8rem;
    text-align: center;
    margin-top: 0;
  }
div.cards {
  grid-column: 1 / 4;
}
#home div.cards section:nth-of-type(1) {
  display: none;
}
#home div.cards section:nth-of-type(2) {
  display: none;
}
  /* div.spotlight-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    height: 100%;
    padding: 0rem;
    border-right: gray 1px solid;
  }
  .spotlight-1 img {
    width: 60%;
  }
  div.spotlight-2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    height: 100%;
  }
  .spotlight-2 img {
    width: 75%;
  } */
  .spotlight-3 {
    /* grid-column: 3 / 4; */
    display: none;
    /* height: 100%; */

    padding: 0rem;
  }
  div.weather {
    grid-column: 3 / 4;
    grid-row: 5 / 6;
  }
  footer {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 40% 30% 30%;
  }
  footer img {
    grid-column: 1 / 2;
    margin: 0;
  }
  footer p:nth-of-type(1) {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    text-align: left;
  }
  footer p:nth-of-type(2) {
    grid-column: 2 / 5;
    grid-row: 3 / 4;
    text-align: left;
  }
  footer p:nth-of-type(3) {
    grid-column: 2 / 5;
    grid-row: 2 / 3;
    text-align: left;
    border-top: 1px solid transparent;
  }
th {
  padding: .5rem;
}
  /* end home page medium */
  /* beg of discover page */
  /* hover affect from Brother Blazzards Codepen */

  main#discover picture img:hover {
    box-shadow: 0 0 50px #333;
  }
  main#discover {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  #discover div {
    grid-column: 1 / 3;
    height: 2rem;
    background-color: #025159;
    margin: 0;
    text-align: center;
    padding-top: 0.25rem;
  }
  main#join {
    /* display: grid; */
    grid-template-columns: 1fr 1fr;
  }
#join h2 {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    margin: 0;
    
  }
  #directory h2 {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }
  table {
    margin: 1rem;
    grid-column: 1 / 2;
    height: 300px;
    margin-top: 0.75rem;
  }
  #join caption {
    grid-column: 1 / 3;
  }
  #m-options {
    position: sticky;
    height: 400px;
    margin-top: 1.5rem;
  }

  /* #home.hero {
  grid-column: 1 / 2;
  height: 2rem;
  background-color: #025159;
  margin: 0;
  text-align:center;
  padding-top: .25rem;
  /* width: 100%; */
  /* main #discover {
  position: relative;
 } */

 /*--------------- main#directory ---------------*/
 button#gallery {
  padding: 1rem 7.4rem;
  max-width: 300px;
}
button#list {
  padding: 1rem 7.5rem;
  max-width: 300px;
  max-height: 65px;
  
}

/* #directory section {
  flex-direction: column;
} */
#directory.list {
 display: grid;
}
#directory div.list section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0.25rem;
} 
#directory h2 {
  grid-column: 1 / 4;;
}
}
