header {
  width: 100%;
  display: flex;
  padding-top: 4rem;
  background-color: aqua;
}
body {
  width: 70%;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
  border-bottom: 5px solid black;
}
footer {
  width: 100%;
  color: aliceblue;
  margin: 0 auto;
  padding: 20px 25px;
  background-color: black;
}
